/* APP style */
.App {
  text-align: center;
  width: 100% !important;
  height: 100vh;
}

/* NAVBAR styles */
#navbar-brand {
  color: white
}

.icons {
  color: white
}

.icons:hover {
  color: #64E9EE
}

.button {
  height: 40px !important;
  background: #64E9EE !important;
  color: #343A3F;
  border: none !important;
  margin: 5px
}

.button:hover {
  background: white !important;
  color: #343A3F
}

#icons-bloc {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#dropdown-toggle {
  margin-left: 40px;
  margin-right: 40px;
  color: white
}

#dropdown-menu {
  background-color: #64E9EE !important
}

.icons-dropdown {
  margin-right: 10px
}

.link-dropdown {
  color: #27A18E !important;
}

.link-dropdown:hover {
  color: #e66465 !important;
  text-decoration: none;
}

/* HEADER styles  */
.header {
  margin-bottom: 10px !important;
  border-radius: 10px !important;
  height: 100vh !important;
  background: transparent !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px !important;
  padding-bottom: 50px !important
}

#text-header {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 20px;
  text-align: justify;
}

/* ABOUT styles */
#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  height: 100vh !important;
  width: 100 % !important;
  padding-top: 40px;
  border-radius: 10px;
  color: white;
  margin-bottom: 10px
}

#about-header {
  border-radius: 5%;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  background: transparent;
  border: 2px solid #64E9EE;
}

#avatar {
  width: 180px;
  border-radius: 50%;
  margin: 10px
}

#phone {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}

#phone-icon {
  margin-right: 10px
}

#text-about {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: justify !important;
}

/* SKILLS styles */
#skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  height: 100vh !important;
  padding-top: 40px;
  border-radius: 10px;
  color: white;
  margin-bottom: 10px
}

#langages {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-around !important;
  align-items: center !important;
}

.h2 {
  margin: 50px !important;
  display: flex;
  flex-direction: row;
  justify-content:center;
}

.h3 {
  margin-top: 20px;
  margin-bottom: 10px !important;
  text-align: left;
  font-size: 25px !important
}

.progress {
  height: 30px !important;
  font-size: 25px !important;
  margin-top: 20px
}

.text-dev {
  text-align: left;
  color: #64E9EE;
  margin-top: 5px
}

/* PARTICLES style */
#particles {
  position:fixed !important;
  min-width:100% !important;
  min-height: 100%;
  background: #343A3F;
  margin: 0 !important

}

/* TITLES styles */
h1 {
  font-family: Poppins !important;
  font-size: 50px !important;
  font-weight: bold !important;
  margin: 10px
}

h4 {
  margin-top: 15px !important;
  margin-bottom: 15px !important
}

h5 {
  margin-top: 15px !important;
  margin-bottom: 15px !important
}

/* PORTOFOLIO styles */
#portfolio {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  height: 100vh !important;
  padding-top: 40px;
  border-radius: 10px;
  color: white;
  margin-bottom: 10px
}

.projects {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 100% !important;
  margin-left: 0px !important;
  margin-right: 0px !important
}

.project-title {
  color: #64E9EE
}

.projects-details {
  color: white;
  margin: 5px;
  background-color: transparent !important;
  border-radius: 5% !important;
  border: 2px solid #64E9EE !important
}

#row-projects {
  background-color: #64E9EE
}

.button-portfolio {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items:flex-start !important
}

.icon-portfolio {
  margin: 10px
}

.card-portfolio {
  background-color: #64E9EE !important;
  color: #343A3F
}

.code-button {
  height: 40px !important;
  background: white !important;
  color: #343A3F;
  border: none !important;
  margin: 5px
}

.code-button:hover {
  background: #64E9EE !important;
  color: #343A3F;
}
